<!--The content below is only a placeholder and can be replaced.-->

<header>
</header>

<div class=container>

  <img class="background" src="../assets/images/park.jpg" />

  <div style="text-align:center">

    <h1>
      Parks&nbsp;&nbsp;&nbsp;&&nbsp;&nbsp;&nbsp;Rec
    </h1>
  </div>
  <img align="center" class="zelda" alt="Zelda Shield" src="../assets/images/shield.png">
</div>



<label>Zip Code</label>
<input type="text" class="form-control" name="zipcode" [(ngModel)]="zipcode">

<button mat-button (click)="submit()" [disabled]="zipcode.length !=5">Search</button>


<p *ngFor="let park of parks">{{park?.name}}</p>

<mat-chip-list>
  <mat-chip *ngFor="let park of parks">{{park?.name}}</mat-chip>
</mat-chip-list>
