<!--The content below is only a placeholder and can be replaced.-->

<header>
</header>

<div class=container>

  <img class="background" src="../assets/images/park.jpg" />

  <div style="text-align:center">

    <h1>
      Parks&nbsp;&nbsp;&nbsp;&&nbsp;&nbsp;&nbsp;Rec
    </h1>
  </div>
  <img align="center" class="zelda" alt="Zelda Shield" src="../assets/images/shield.png">
</div>



<label>Zip Code</label>
<input type="text" class="form-control" name="zipcode" [(ngModel)]="zipcode">

<button mat-button (click)="submit()" [disabled]="zipcode.length !=5">Search</button>
<!-- </div>
<h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
